<script src="@Url.Content("~/Scripts/_Gallery.cshtml.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>

<div id="picture-list">
    <ul style="list-style:none" id="IndexPictureList">
        @foreach (var image in Model)
        {
            <li>
                <a href="@image.ActualPath"><img src="@image.ThumbnailPath" data-fullpath="@image.ActualPath" alt="error"/></a>
            </li>
        }
    </ul>
</div>
<div id="picture-size" style="text-align:center; font-size:small">
    <p>
        Slide the handle below to resize the images in the gallery
    </p>

    <div id="slider" style="margin: 0 auto"></div>    
</div>
